@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

:root {
    --primary_color: #03a9f4;
    --light_color: #fff;
    --dark_color: #003147;
    --light_bg: lightblue;
    --light_head_color: #848c90;
    --dark_secondary_color: #333;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}

body {
    background: var(--light_bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: auto;
    margin: 30px;
    background: var(--light_color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* Left Side Begins */

.container .left-side {
    position: relative;
    background: var(--dark_color);
    padding: 40px;
}

.left-side .profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left-side .profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.left-side .profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-side .profileText h2 {
    color: var(--light_color);
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.left-side .profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.left-side .contactInfo {
    padding-top: 40px;
}

.left-side .contactInfo .title {
    color: var(--light_color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.left-side .contactInfo ul {
    position: relative;
}

.left-side .contactInfo li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.left-side .contactInfo li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--primary_color);
}

.left-side .contactInfo li span {
    color: var(--light_color);
    font-weight: 300;
}

.left-side .contactInfo.education li {
    margin-bottom: 15px;
}

.left-side .contactInfo.education h5 {
    color: var(--primary_color);
    font-weight: 500;
}

.left-side .contactInfo.education h4:nth-child(2) {
    color: var(--light_color);
    font-weight: 600;
}

.left-side .contactInfo.education h4 {
    color: var(--light_color);
    font-weight: 200;
}

.left-side .contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.left-side .contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary_color);
}

/* Left Side Ends */

/* Right Side Begins */

.container .right-side {
    position: relative;
    background: var(--light_color);
    padding: 40px;
}

.right-side .about {
    margin-bottom: 50px;
}

.right-side .about:last-child {
    margin-bottom: 0;
}

.right-side .about .title2 {
    color: var(--dark_color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.right-side .about p {
    color: var(--dark_secondary_color);
    font-weight: 500;
}

.right-side .about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.right-side .about .box .year_company {
    min-width: 120px;
}

.right-side .about .box .year_company h5 {
    text-transform: uppercase;
    color: var(--light_head_color);
    font-weight: 600;
}

.right-side .about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.right-side .skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: center;
}

.right-side .skills .box h4 {
    text-transform: uppercase;
    color: var(--light_head_color);
    font-weight: 600;
}

.right-side .skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.right-side .skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary_color);
}

.right-side .interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.right-side .interest ul li {
    list-style: none;
    color: var(--dark_secondary_color);
    font-weight: 600;
    margin: 10px 0;
}

.right-side .interest ul li .fas {
    color: var(--primary_color);
    font-size: 18px;
    width: 20px;
    margin-right: 4px;
}

/* Right Side Ends */

footer {
    background-color: var(--dark_color);
    color: var(--light_color);
    width: 100%;
    max-width: 1000px;
    font-size: 16px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

footer a {
    text-decoration: none;
    color: var(--light_color);
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .right-side .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .right-side .about .box {
        flex-direction: column;
    }

    .right-side .about .box .year_company {
        margin-bottom: 5px;
    }

    .right-side .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-side .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
    .link-container {
        flex-direction: column;
    }
    .link-container a{
        margin: 5px;
    }
}


.link-container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 30px;
    background-color: var(--dark_color);
    color: var(--light_color);
    /* border: 5px solid brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    color: var(--dark_color);
    transition: all 0.3s;
}

.link-container a {
    text-decoration: none;
    color: var(--light_color);
    font-weight: 700;
}

.link-container a:hover {
    color: var(--primary_color);
}
